<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8b528c53f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</head>

<body>
    <div class="top-nav">
        <div class="nav-menu">
            <div id="nav-left">
                <a href="/" target="_self"><img src="/img/9gag.png" id="amblem"></img>
                    
            </div>
            <div id="nav-right">
                <a href="#"><img src="/img/moon.png" alt=""></a>
                
                {{#if displayLink}}
                <a href="/users/register" class="btn btn-success" id="header-sign-up"><i
                        class="fas fa-user-plus"></i>Register</a>
                <a href="/users/login" class="btn btn-primary" id="header-sign-in"><i
                        class="fas fa-sign-in-alt"></i>Login</a>
                {{/if}}
                {{#unless displayLink}}

                <div class="dropdown d-inline">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/account.png" alt=""> </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" style="color: black;" href="/profil">Profilim</a>
                        <a class="dropdown-item" style="color: black;" href="/settings">Ayarlar</a>
                        <a class="dropdown-item" style="color: black;" href="/users/logout">Çıkış</a>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
    <div class="header-back">
        <div class="header-back-component">
            <a href="/" target="_self"><img src="/img/back.png" alt=""> <span class="header-post">POST</span></a>
        </div>
        <hr id="hr" style="position: relative; top: -7px;">
    </div>

    <div class="container1" style="position: relative; top: -35px;">
        <div id="container">
            
            <div class="page">
                <div class="main-wrap">

                    <section id="list-view-2">
                        <div class="list-stream" style="min-height: 0;">
                            <div>
                                <article>
                                    <header>
                                        <div class="post-section">
                                            <a target="_blank" href="#" id="funny">

                                                <img src="/img/humor.png" alt="">
                                            </a>
                                            <p class="message">
                                                <a target="_blank" href="#" class="section"> Funny </a>
                                                <span>{{post.date}}</span>
                                            </p>
                                        </div>
                                        <h1 class="gönderi-h1">
                                            {{post.definition}}
                                        </h1>
                                        <h3 class="gönderi-h6">
                                            {{post.definition}}
                                        </h3>
                                        
                                    </header>
                                    <div class="gönderi-üstü-butonlar">
                                       


                                    </div>
                                    <div class="post-container-mobile" style="margin: 0 auto" ;>
                                        <div class="post-container">
                                            <a href="#">
                                                <img src="{{post.postImage}}" alt="">
                                            </a>
                                        </div>

                                        <div class="post-text-container"></div>
                                    </div>
                                    <div class="Gönderinin-Alt-Kısmı">
                                        <ul class="Gönderinin-Altındaki-Butonlar">
                                            <li>
                                                <a href="#" class="Beğenme">
                                                    <img src="/img/up-arrow1.png" alt=""> <span>236</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="Beğenmeme">
                                                    <img src="/img/down-arrow.png" alt=""><span>236</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="Yorum">
                                                    <img src="/img/speech-bubble.png" alt=""><span>236</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="R-İkon">
                                                    <img src="/img/icons8-r-24.png" alt=""><span>SHARE</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                                <hr id="hr">
                            </div>
                        </div>
                    </section>
                    <section class="Gönderi-Altı-Yorumlar">
                        <div class="Comments">
                            <div class="Yorumlar-kısmı">
                                <div class="Yorum-yapma-kısmı">
                                    <div class="profil-fotosu">
                                        <div class="image-container">
                                            <a href="/profil" target="_blank">
                                                <img src="{{user1.avatar}}" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <form action="/users/comment/{{post._id}}" method="POST" id="yorum-yapma-kısmı"
                                        enctype="multipart/form-data">
                                        <input type="hidden" name="postId" value="{{post._id}}">
                                        <div class="upload">
                                            <div class="text-area">
                                                <div>
                                                    <input type="text" name="definition" autofocus style="resize: none;"
                                                        placeholder="Yorumlar yazabilirsiniz..."
                                                        class="post-text-area"></input>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <div class="post">
                                                    <button type="submit" form="yorum-yapma-kısmı"
                                                        class="btn btn-primary">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {{#each yorum}}
                                <div id="yorum" style="margin-bottom:35px">

                                    <div class="comment-entry">
                                        <div class="avatar">
                                            <div class="image-container">
                                                <a href="/profil" target="_blank">
                                                    <img src="{{userPostImage}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payload">
                                        <div class="info">
                                            <div class="info-container">
                                                <div>
                                                    <a href="#" target="_blank" class="username">{{userName}} </a>
                                                    <span>{{date}}</span>
                                                </div>

                                            </div>
                                            <div class="yorum-definition" >
                                                <p style="color: rgb(92, 34, 34); font-size: 30px">{{definition}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="Mobile-Gönderi-Altı">
                                    <div class="Mobile-Gönderi-Altı-Foto">
                                        <a href="/profil">
                                            <img src="/img/account4.png" alt="">
                                        </a>
                                    </div>
                                    <div id="avatar-yanı-isim">
                                        <a href="/profil">
                                            Aykut Yıldız
                                        </a>
                                        <span id="Mobile-gönderi-zaman">2h</span>
                                    </div>
                                    <div class="content1">
                                        Yorum Yorum Yorum Yorum
                                    </div>

                                </div>
                                <div class="action2">

                                    <div class="vote-buttons">
                                        <a class="mobile-gönderi-reply" href="#">
                                            Reply
                                        </a>
                                        <a href="#">
                                            <img src="/img/top-arrow4.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/down-arrow2.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/icons8-r-24.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr id="hr">
                                <div class="Mobile-Gönderi-Altı">
                                    <div class="Mobile-Gönderi-Altı-Foto">
                                        <a href="/profil">
                                            <img src="/img/account4.png" alt="">
                                        </a>
                                    </div>
                                    <div id="avatar-yanı-isim">
                                        <a href="/profil">
                                            Aykut Yıldız
                                        </a>
                                        <span id="Mobile-gönderi-zaman">2h</span>
                                    </div>
                                    <div class="content1">
                                        Yorum Yorum Yorum Yorum
                                    </div>

                                </div>
                                <div class="action2">

                                    <div class="vote-buttons">
                                        <a class="mobile-gönderi-reply" href="#">
                                            Reply
                                        </a>
                                        <a href="#">
                                            <img src="/img/top-arrow4.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/down-arrow2.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/icons8-r-24.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr id="hr">
                                <div class="Mobile-Gönderi-Altı">
                                    <div class="Mobile-Gönderi-Altı-Foto">
                                        <a href="/profil">
                                            <img src="/img/account4.png" alt="">
                                        </a>
                                    </div>
                                    <div id="avatar-yanı-isim">
                                        <a href="/profil">
                                            Aykut Yıldız
                                        </a>
                                        <span id="Mobile-gönderi-zaman">2h</span>
                                    </div>
                                    <div class="content1">
                                        Yorum Yorum Yorum Yorum
                                    </div>

                                </div>
                                <div class="action2">

                                    <div class="vote-buttons">
                                        <a class="mobile-gönderi-reply" href="#">
                                            Reply
                                        </a>
                                        <a href="#">
                                            <img src="/img/top-arrow4.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/down-arrow2.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/icons8-r-24.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr id="hr">

                                <div class="Mobile-Gönderi-Altı">
                                    <div class="Mobile-Gönderi-Altı-Foto">
                                        <a href="/profil">
                                            <img src="/img/account4.png" alt="">
                                        </a>
                                    </div>
                                    <div id="avatar-yanı-isim">
                                        <a href="/profil">
                                            Aykut Yıldız
                                        </a>
                                        <span id="Mobile-gönderi-zaman">2h</span>
                                    </div>
                                    <div class="content1">
                                        Yorum Yorum Yorum Yorum
                                    </div>
                                </div>
                                <div class="action2">

                                    <div class="vote-buttons">
                                        <a class="mobile-gönderi-reply" href="#">
                                            Reply
                                        </a>
                                        <a href="#">
                                            <img src="/img/top-arrow4.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/down-arrow2.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="/img/icons8-r-24.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr id="hr">


                                </>
                            </div>
                        </div>
                    </section>
                </div>

                <section id="right-section" style="height:3114px">
                    <div id="right-section-content" style="position:relative;width:inherit">
                        <section class="block-feature-color">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <div class="img-container">
                                            <img src="/img/multi-colored-elephant-graffiti-3977529.jpg" alt="">
                                        </div>
                                        <div class="info-container">
                                            <h3 id="info-container-header">
                                                Lorem ipsum dolor sit Lorem Lorem Lorem Lorem Lorem Lorem
                                            </h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <div class="img-container">
                                            <img src="/img/multi-colored-elephant-graffiti-3977529.jpg" alt="">
                                        </div>
                                        <div class="info-container">
                                            <h3 id="info-container-header">
                                                Lorem ipsum dolor sit Lorem Lorem Lorem Lorem Lorem Lorem
                                            </h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <div class="img-container">
                                            <img src="/img/multi-colored-elephant-graffiti-3977529.jpg" alt="">
                                        </div>
                                        <div class="info-container">
                                            <h3 id="info-container-header">
                                                Lorem ipsum dolor sit Lorem Lorem Lorem Lorem Lorem Lorem
                                            </h3>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>

        <div class="footer">
            <div class="mobile-yorum-yapma">
                <a href="#" data-target="#modalYorumForm" data-toggle="modal" class="mobile-textarea"> Yorumunuz </a>
            </div>
        </div>
        <div class="modal fade" id="modalYorumForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Yorumunuz</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="md-form">
                            <textarea style="resize: none;width: 100%;" placeholder="Yorumlar yazabilirsiniz..."
                                class="post-text-area"></textarea>
                        </div>

                        <div class="md-form">
                            <img src="img/photo.png">
                            <input type="file">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-success">Gönder</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-sign-in-alt"></i>Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <i class="fas fa-id-card-alt"></i>
                        <input type="text" placeholder="Kullanıcı Adı" id="KullanıcıAdı" class="form-control validate">
                    </div>

                    <div class="md-form Sifre-form">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" placeholder="Şifre" id="Şifre" class="form-control validate">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-user-plus"></i>Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="md-form">
                        <i class="fas fa-id-card-alt"></i>
                        <input type="text" placeholder="Kullanıcı Adı" id="KullanıcıAdı" class="form-control validate">
                    </div>

                    <div class="md-form Sifre-form">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" placeholder="Şifre" id="Şifre" class="form-control validate">
                    </div>
                    <div class="md-form eMail-form">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="E-posta" id="eMail" class="form-control validate">
                    </div>

                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success">Kayıt Ol</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>