<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script src="https://kit.fontawesome.com/8b528c53f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8b528c53f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/dark-mode-switch.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>



<body>
    <div class="header-mobile">
        <div class="mobile-header-left">
            <a class="hamburger-menu">
                <img src="img/menu6.png" alt="">
            </a>
            <a href="/" target="_self">
                <img id="amblem" src="img/9gag2.png" alt="">
            </a>
        </div>
        <div class="mobile-header-right">
            <div class="mobile-dark-mode">
                <img src="img/moon3.png" alt="">
            </div>
            <div class="mobile-search">
                <img src="img/search3.png" alt="">
            </div>
            <div class="mobile-account">
                <a href="javascript:dropdownMenu()" class="dropbtn"><img src="img/account.png" alt=""></a>
            </div>
            <div id=#dropdown-menu class="popup-menu user">
                <ul>
                    <li><a style="color: black;" href="/profil">Profilim</a></li>
                    <li><a style="color: black;" href="/settings">Ayarlar</a></li>
                    <li><a style="color: black;" href="/users/logout">Çıkış</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="mobile-header-kategori">

        <a href="#" id="hot" class="active">
            Hot
        </a>
        <a href="#" id="trending">
            Trending
        </a>
        <a href="#" id="fresh">
            Fresh
        </a>

    </div>
    <header class="top-nav">
        <nav class="nav-menu">
            <div id="nav-left">
                <a href="/" target="_self"><img src="/img/9gag.png" id="amblem"></img>

            </div>
            <div id="nav-right">
                <a id="mode-btn-dark"><img src="/img/moon.png"></a>

                {{#if displayLink}}
                <a href="/users/register" class="btn btn-success" id="header-sign-up"><i
                        class="fas fa-user-plus"></i>Register</a>
                <a href="/users/login" class="btn btn-primary" id="header-sign-in"><i
                        class="fas fa-sign-in-alt"></i>Login</a>
                <a href="/admin/login" class="btn btn-primary" id="header-sign-in"><i
                        class="fas fa-sign-in-alt"></i>Admin Login</a>
                {{/if}}
                {{#unless displayLink}}

                <div class="dropdown d-inline">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/account.png" alt=""> </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" style="color: black;" href="/profil">Profilim</a>
                        <a class="dropdown-item" style="color: black;" href="/settings">Ayarlar</a>
                        <a class="dropdown-item" style="color: black;" href="/users/logout">Çıkış</a>
                    </div>
                </div>
                {{/unless}}

            </div>
        </nav>
    </header>

    <div class="container1">
        <div id="container">
            <div class="section-sidebar">
                <div class="stealthy-scroll-container">

                    <section class>
                        <header>
                            <h3>Popular</h3>
                        </header>
                        <ul class="nav">
                            {{#each categories}}
                            <li class>
                                <a href="/posts/category/{{_id}}" id="kategori" class="label">
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}

                        </ul>
                    </section>
                    <section class=>
                        <section>
                            <section class="footer"></section>
                </div>
            </div>
            <div class="page">
                <div class="main-wrap">

                    <form action="/users/search" method="GET">
                        <input class="search-input form-control" name="look" type="text" placeholder="Search"
                            style="display: inline-block;">
                        <button style="display: inline;" class="btn btn-success" type="submit"><img
                                src="../../img/search.png" alt=""></button>
                    </form>
                    {{#if sessionFlash.message}}
                    <div class="{{sessionFlash.type}}">
                        {{sessionFlash.message}}
                    </div>
                    {{/if}}
                    <section id="list-view-2">
                        {{#each post}}
                        <form action="/users/profil/favori" method="POST" id="fav" enctype="multipart/form-data">
                            <div class="list-stream" style="min-height: 0;">
                                <input type="hidden" name="user" value="{{user}}">
                                <input type="hidden" name="id" value="{{id}}">
                                <div>
                                    <div>
                                        <header>
                                            <div class="post-section">
                                                <a target="_blank" href="#" id="funny">
                                                    <img src="/img/humor.png" alt="">
                                                </a>
                                                <p class="message">
                                                    <a target="_blank" href="#" class="section"> Funny </a>
                                                    <span>{{date}}</span>
                                                    <input type="hidden" name="date" value="{{date}}">
                                                </p>


                                            </div>
                                            
                                            <button id="favori_button" style="border: none; margin-top:35px" type="submit"
                                                formaction="/users/profil/favori/{{_id}}" form="fav">
                                                <img src="/img/star.png" title="Favorilere ekle">
                                            </button>
                                        </header>
                                        <div class="post-container" style="display: block;">
                                            <div style="display: block;">
                                                <a href="/gonderi_sayfasi/{{_id}}" target="_self"
                                                    id="Ana-sayfa-post-head1">
                                                    <h1 id="Ana-sayfa-post-head">{{definition}}</h1>
                                                    <input type="hidden" name="definition" value="{{definition}}">
                                                </a>
                                            </div>

                                            <a href="/gonderi_sayfasi/{{_id}}">
                                                <img src="{{postImage}}" alt="">
                                                <input type="hidden" name="postImage" value="{{postImage}}">
                                            </a>

                                        </div>


                                        <div class="Gönderinin-Alt-Kısmı">
                                            <ul class="Gönderinin-Altındaki-Butonlar">
                                                <li>
                                                    <button style="border: none;" type="submit"
                                                        formaction="/posts/like/{{_id}}" form="fav">
                                                        <img src="/img/up-arrow1.png" title="Beğenme">
                                                    </button>
                                                </li>
                                                <li>
                                                    <button style="border: none;" type="submit"
                                                        formaction="/posts/dislike/{{_id}}" form="fav">
                                                        <img src="/img/down-arrow.png" title="Beğenmeme">
                                                    </button>
                                                </li>
                                                <li>
                                                    <a href="/gonderi_sayfasi/{{_id}}" class="Yorum">
                                                        <img src="/img/speech-bubble.png" alt="">
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                        {{/each}}

                    </section>
                </div>

                <section id="right-section" style="height:3114px">
                    <div id="right-section-content" style="position:relative;width:inherit">
                        <section class="block-feature-color">

                            <ul>
                                {{#each post}}
                                <li>
                                    <a href="/gonderi_sayfasi/{{_id}}" target="_blank">
                                        <div class="img-container">
                                            <img src="{{postImage}}" alt="">
                                        </div>
                                        <div class="info-container">
                                            <h3 id="info-container-header">
                                                {{definition}}
                                            </h3>
                                        </div>
                                    </a>
                                </li>
                                {{/each}}

                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="/login">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-sign-in-alt"></i>Sign in
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="md-form">
                                <i class="fas fa-id-card-alt"></i>
                                <input type="text" placeholder="Kullanıcı Adı" id="KullanıcıAdı"
                                    class="form-control validate">
                            </div>

                            <div class="md-form Sifre-form">
                                <i class="fas fa-lock prefix grey-text"></i>
                                <input type="password" placeholder="Şifre" id="Şifre" class="form-control validate">
                            </div>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="/sign_up">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-user-plus"></i>Sign up</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="md-form">
                                <i class="fas fa-id-card-alt"></i>
                                <input type="text" placeholder="Kullanıcı Adı" name="userName" id="KullanıcıAdı"
                                    class="form-control validate">
                            </div>

                            <div class="md-form Sifre-form">
                                <i class="fas fa-lock prefix grey-text"></i>
                                <input type="password" placeholder="Şifre" name="password" id="Şifre"
                                    class="form-control validate">
                            </div>
                            <div class="md-form eMail-form">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="E-posta" name="email" id="eMail"
                                    class="form-control validate">
                            </div>

                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>

<script>
    document.getElementById('mode-btn-dark').onclick = function darkMode() {
        document.body.classList.toggle('dark');
    }


</script>